@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .position-top {
    top: -62px;
  }
}


@layer components {
  .titleHeader {
    @apply px-6 py-3 font-bold uppercase align-middle bg-transparent border-b border-gray-200 shadow-none text-size-xxs tracking-none whitespace-nowrap text-slate-400 opacity-70
  }

  .bgTable {
    @apply relative bg-white flex flex-col h-full min-w-0 break-words border-0 shadow-soft-xl rounded-2xl bg-clip-border p-4
  }

  .tBody {
    @apply p-2 leading-normal text-center align-middle bg-transparent border-b text-size-sm whitespace-nowrap
  }

  .title-header {
    @apply py-3 align-middle bg-transparent border-b border-gray-300 shadow-none text-size-base tracking-none whitespace-nowrap;
  }

  .hoverNavItem:hover {
    @apply bg-blue-400 text-white cursor-pointer;
  }

  .iconTable:hover {
    @apply cursor-pointer;
  }

  .nameAcces {
    @apply text-start pl-2;
  }

  .border-css {
    @apply border-r-2 border-gray-300;
  }
}

details[open] summary i {
  display: none;
}